In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.svm import SVR

In [2]:
# Load your dataset (replace 'cleaned_data_house_price.csv' with your dataset file)
dataset = pd.read_csv("cleaned_data_house_price.csv")
dataset

,location,size,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,36998.106061
1,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,43055.555556
2,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,62458.908613
3,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,42500.000000
4,Whitefield,2 BHK,1170.0,2.0,1.0,38.00,2,32478.632479
...,...,...,...,...,...,...,...,...
8606,Rachenahalli,2 BHK,1050.0,2.0,2.0,52.71,2,50200.000000
8607,Bellandur,2 BHK,1262.0,2.0,2.0,47.00,2,37242.472266
8608,Uttarahalli,3 BHK,1345.0,2.0,1.0,57.00,3,42379.182156
8609,Green Glen Layout,3 BHK,1715.0,3.0,3.0,112.00,3,65306.122449
8610,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.0,60.00,2,52585.451358

In [3]:
# Read the CSV dataset
dataset1 = pd.read_csv("cleaned_data_house_price.csv", index_col=None)

# Take a backup of the original dataset
df2 = dataset1.copy()

# Perform one-hot encoding to handle categorical variables
df2 = pd.get_dummies(df2, drop_first=True)  # remove first redundant col wrt to nominal col

# Assuming 'price_per_sqft' is your target variable, and other columns are features
X = df2.drop(columns=['price_per_sqft'])
y = df2['price_per_sqft']

In [4]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Create a pipeline with feature selection, dimensionality reduction, and classifier
pipeline = Pipeline([
    ('feature_selection', SelectKBest(k=3)),  # Select the top k features
    ('dimensionality_reduction', PCA(n_components=2)),  # Reduce dimensionality to 2 components
    ('classification', SVR())  # Classifier (e.g., Support Vector Machine)
])

In [6]:
# Fit the pipeline on the training data
pipeline.fit(X_train, y_train)

C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [  5   7   9  12  13  16  18  19  21  22  24  28  32  36  39  40  41  42
  45  46  47  49  65  66  68  69  72  74  75  78  85  91  95  98 102 106
 107 112 114 118 119 123 125 128 139 148 151 152 156 159 162 170 171 175
 183 186 187 189 196 202 203 211 214 220 221 222 225 229 237 242 245 251
 252 265 266 272 273 274 275 277 284 287 289 293 294 296 300 301 303 315
 323 329 330 337 338 340 342 344 351 355 359 361 362 364 370 376 384 387
 392 394 395 398 401 419 421 424 430 431 433 449 454 456 458 459 469 473
 474 476 481 485 489 498 500 506 507 510 512 522 544 545 547 556 557 558
 560 561 565 570 575 584 599 607 609 611 613 621 623 624 626 627 635 638
 639 641 642 645 649 652 653 656 658 662 663 668 675 678 679 680 685 697
 700 706 708 712 713 714 715 717 718 722 724 727 728 730 734 735 737 739
 741 745 747 753 757 763 768 769 775 786 788 789 790 794 800 804 806 807
 808 810 814 819 820 821 832 836 841 843 846 847 848 849 850 853 857 860
 863 864 865 875 876 879 880 882 888 891 893 895 898 899 900 901 902 903
 904 907] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
C:\Users\lavanya\anaconda3\envs\aiml\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

Pipeline(steps=[('feature_selection', SelectKBest(k=3)),
                ('dimensionality_reduction', PCA(n_components=2)),
                ('classification', SVR())])

In [7]:
# Evaluate the model
accuracy = pipeline.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: -0.008568813851727919